<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div *ngIf="isResultsLoading" class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>
      <mat-card-title>암호 초기화</mat-card-title>
      <mat-card-content>
        <form class="fomr-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
           <mat-form-field color="accent">
              <input matInput placeholder="신규 암호" formControlName="password" type="passowrd">
              <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">암호가 필요 합니다.</mat-error>
           </mat-form-field>
           <mat-form-field color="accent">
            <input matInput placeholder="암호확인" formControlName="confirmPassword" type="passowrd">
            <mat-error *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">암호가 필요 합니다.</mat-error>
         </mat-form-field>
           <button mat-raised-button class="btn-block" color="accent">확인</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
