<div class="limiter">
  <div class="container-login">
    <mat-card>
      <div *ngIf="isResultsLoading" class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>
      <mat-card-title>암호 잊어버렸음!!!</mat-card-title>
      <mat-card-content>
        <form class="fomr-container" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
           <mat-form-field color="accent">
              <input matInput placeholder="이메일" formControlName="email">
              <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">이메일을 넣어주십시요</mat-error>
           </mat-form-field>
           <button mat-raised-button class="btn-block" color="accent">확인</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
